#!/bin/sh

export GTK_THEME=Adwaita:dark
export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
export QT_STYLE_OVERRIDE=Adwaita-Dark

udiskie &

xscreensaver --no-splash &
#~/.config/awesome/autolock.sh

xinput set-prop 'DLL07A8:01 044E:120B' 'libinput Natural Scrolling Enabled' 1
xinput set-prop 'DLL07A8:01 044E:120B' 'libinput Disable While Typing Enabled' 0
setxkbmap -layout us,cz -variant ,ucw -option grp:caps_switch,compose:rctrl
