#!/bin/sh

echo setting darkmodes
export GTK_THEME=Adwaita:dark
export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
export QT_STYLE_OVERRIDE=Adwaita-Dark

echo starting udiskie
udiskie &

echo starting xscreensaver
xscreensaver --no-splash &

echo setting layout and mouseout
xinput set-prop 'DLL07A8:01 044E:120B' 'libinput Natural Scrolling Enabled' 1
xinput set-prop 'DLL07A8:01 044E:120B' 'libinput Disable While Typing Enabled' 0
setxkbmap -layout us,cz -variant ,ucw -option grp:caps_switch,compose:rctrl
